[submodule "zmk"]
	path = zmk
	url = https://github.com/zmkfirmware/zmk.git
[submodule "headers"]
	path = headers
	url = https://github.com/TisseTheTiz/zmk-config-headers
[submodule "boards/shields/endgame"]
	path = boards/shields/endgame
	url = https://github.com/TisseTheTiz/zmk-config-endgame
